<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/all.css" rel="stylesheet">
    <link href="static/css/styles.css" rel="stylesheet">
    <title>EventUFF</title>
</head>
<body>
    <h1>EventUFF</h1>
    <h2 th:text="${titulo_pag}"></h2>

    <script src="static/js/jquery-3.7.1.js"></script>
    <script src="static/js/popper.js"></script>
    <script src="static/js/bootstrap.js"></script>
    <script src="static/js/script.js"></script>
</body>